/* -------------------------------- 

File#: _1_card-v4
Title: Card v4
Descr: Container of information used as teasers for further content, often displayed in a gallery of related items
Usage: codyhouse.co/license

-------------------------------- */