/* -------------------------------- 

File#: _2_products-gallery
Title: Products Gallery
Descr: A gallery of product cards
Usage: codyhouse.co/license

-------------------------------- */

.products-gallery {}