.services{
    margin: 10vh 15vw;;
}

.cta{
    margin: 10vh 0cw;
}

.home-cta{
    background-color: gray;
}

.customers{
    margin: 20vh 0vw;
}

.contact{
    margin: 10vh 15vw;;
}

.nav-link{
    color: #1b1b1b;
    text-shadow: 3px 2px 4px rgb(204, 196, 196);
}